.wrapper {
    width: 940px;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    margin-top: 44px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    margin-left: auto;
}

li {
    margin-left: 36px;
}

.nav-item {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

a:hover {
    color: #fed136;
}

.service {
    margin-top: 120px;
}

h2 {
    text-align: center;
    color: #222;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 21px;
}

.text2 {
    text-align: center;
    color: #777;
    font-style: italic;
}

.service-item {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.service-list {
    width: 274px;
    padding-top: 14px;
}

h6 {
    text-align: center;
    color: #222;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
}

.text {
    color: #777;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
}

.service-list::before {
    width: 70px;
    border: 3px solid #fed136;
    border-radius: 50%;
    line-height: 0;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    }

.service-list::before {
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Icon-Basket.png);
}

.web::before {
    background-image: url(../img/Icon-Laptop.png);
}

.security::before {
    background-image: url(../img/Icon-Locked.png);
}

main {
    background-color: #222;
    height: 680px;
    width: 100vw;
    margin: 0 auto;
    margin-top: 120px;
}

h5 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-top: 110px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.profile-form {
    display: flex;
    margin-top: 58px;
    justify-content: space-between;
}

.map {
    display: block;
    position: absolute;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    height: 536px;
    width: 614px;
    bottom: 22px;
    right: 0;
}

.back-map {
    display: block;
    width: 1404px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}

.button {
    position: absolute;
    width: 242px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat;
    padding: 22px 22px;
    background-color: #fed136;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 580px;
    bottom: 114px;
}

p {
    text-align: center;
}

.text1,
.email,
.text4 {
    width: 434px;
    height: 48px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding-left: 20px;
    color: #bbb;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.35px;
    cursor: pointer;
}

.text1,
.email,
.area {
    outline: 4px solid transparent;
    outline-offset: -2px;
    transition: outline-color 0.1s;
}

.text4:focus {
    outline: 0;
}

.text1,
.email {
   margin-bottom: 28px; 
}

.area {
    display: block;
    width: 435px;
    height: 186px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding-left: 20px;
    resize: none;
    padding-top: 22px;
    color: #bbb;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.35px;
    cursor: pointer;
}

input[type="email"]:focus:invalid,
textarea[name="body"]:focus:invalid,
input[name="name"]:focus:invalid {
outline-color: red;
transition: outline-color 5s;
}

input[type="email"]:focus:valid,
textarea[name="body"]:focus:valid,
input[name="name"]:focus:valid {
outline-color: green;
transition: outline-color .4s;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-slab-v10-latin-regular.woff') format('woff');
  }